*{
    margin: 0;
    box-sizing: border-box;
    font-family:'Open Sans', sans-serif;
}
body{
    width: 100%;
    height: 100%;
    background: #EBF1F7;
    display: flex;
}

.general-container{
    position: absolute;
    width: 1090px;
    height: 722px;
    margin: 20px;
    background: linear-gradient(312.9deg, 
    rgba(255, 255, 255, 0.3) 4.49%, 
    rgba(233, 240, 247, 0.3) 95.45%), 
    linear-gradient(180.99deg, 
    #F0F4F9 21.46%, rgba(240, 244, 249, 0.5) 122.77%);
    box-shadow: 4px 4px 16px rgba(138, 155, 189, 0.48), 
    -5px -5px 18px #FFFFFF;
    border-radius: 10px;
}
/* NAVBAR */

.navbar{
    width: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.navbar img{
    width: 220px;
    margin: 22px 0 60px;
}
.navbar a{
    width: 206px;
    height: 53px;
    background: linear-gradient(312.9deg, 
    rgba(255, 255, 255, 0.3) 4.49%,
    rgba(233, 240, 247, 0.3) 95.45%), #E9F0F7;
    box-shadow: 4px 4px 16px rgba(138, 155, 189, 0.48), 
    -5px -5px 18px #FFFFFF;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin: 10px;
    text-decoration: none;
    color: #192A53;
    font-size: 16px;
}
.navbar a:hover{
    background: linear-gradient(312.9deg, 
    rgba(255, 255, 255, 0.3) 4.49%, 
    rgba(233, 240, 247, 0.3) 95.45%), #E9F0F7;
    box-shadow: inset 4px 4px 12px rgba(138, 155, 189, 0.4), 
    inset -5px -5px 18px #FFFFFF;
    color: #192a539d;
}
.navbar i{
    padding-left: 40px;
}

/* DROPDOWN */

.dropdown{
    width: 260px;
    height: 40px;
    background: linear-gradient(312.9deg, rgba(255, 255, 255, 0.3) 4.49%, rgba(233, 240, 247, 0.3) 95.45%), #E9F0F7;
    box-shadow: 4px 4px 16px rgba(138, 155, 189, 0.48), -5px -5px 18px #FFFFFF;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    float: left;
    overflow: hidden;
}
.dropdown .dropbtn{
    font-size: 15px;
    border: none;
    outline: none;
    color: rgba(26, 43, 82, 0.5);
    padding: 14px 16px;
    background-color: #192a5300;
    margin: 0;
}
.dropdown:hover .dropbtn{
    background-color: rgba(255, 255, 255, 0);
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #EEF3F9;
    min-width: 160px;
    box-shadow: 4px 4px 16px rgba(138, 155, 189, 0.48), 
    -5px -5px 18px #FFFFFF;
    z-index: 1;
    border-radius: 10px;
    top: 85px;
}
.dropdown-content a{
    float: none;
    color: rgba(26, 43, 82, 0.5);
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover{
    color: #192A53;
}
.dropdown:hover .dropdown-content{
    display: block;
}

/* USER */

.user{
    position: absolute;
    width: 740px;
    height: 105px;
    right: 10px;
    top: 10px;
    background: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.user-container{
    width: 200px;
    height: 59px;
    margin: 10px;
    background: linear-gradient(312.9deg, rgba(255, 255, 255, 0.3) 4.49%, rgba(233, 240, 247, 0.3) 95.45%), #E9F0F7;
    box-shadow: 4px 4px 16px rgba(138, 155, 189, 0.48), -5px -5px 18px #FFFFFF;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.circle{
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background: linear-gradient(312.9deg, rgba(255, 255, 255, 0.3) 4.49%, rgba(233, 240, 247, 0.3) 95.45%), #E9F0F7;
    box-shadow: inset -5px -5px 12px rgba(255, 255, 255, 0.9), inset 5px 5px 12px rgba(138, 155, 189, 0.4);
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle img{
    width: 45px;
    height: 45px;
    border-radius: 25%;
}
.user-container p{
    color: #1A2B52;
    font-size: 15px;
}

/* BOXES */

.budget-container{
    position: absolute;
    width: 800px;
    height: 570px;
    top: 120px;
    left: 256px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 5px;
    justify-items: center;
    align-items: center;
}

/* PRIMERA CAJA */

.general-budget{
    width: 375px;
    height: 570px;
    background: linear-gradient(312.9deg, rgba(255, 255, 255, 0.3) 4.49%, rgba(233, 240, 247, 0.3) 95.45%), #E9F0F7;
    box-shadow: 4px 4px 16px rgba(138, 155, 189, 0.48), -5px -5px 18px #FFFFFF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.general-budget p{
    font-size: 15px;
    font-weight: normal;
    color: #192A53;
    margin: 15px;
}
.line-chart{
    width: 355px;
    height: 224px;
    background: #EEF3F8;
    box-shadow: inset -4px -4px 9px rgba(255, 255, 255, 0.88), inset 4px 4px 14px #C1D5EE;
    border-radius: 9px;
    margin-bottom: 15px; 
}
#line-example-6 {
    height: 220px;
    max-width: 300px;
    margin: 0 auto;
}
.charts-css{
    --color-1: #192A53!important;
    --color-2: #c4c4c400!important;
    --color-3: #34ADFC!important;
     --primary-axis-color: none!important;
}
.charts-css.line:not(.reverse-datasets) tbody tr{
    font-size: 12px!important;
    font-weight: normal!important;
}

/* LISTA SCROLL */

.scroll-budget{
    width: 355px;
    height: 270px;
    background: #EEF3F8;
    box-shadow: inset -4px -4px 9px rgba(255, 255, 255, 0.88), inset 4px 4px 14px #C1D5EE;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box-container{
    width: 340px;
    height: 300px;
    margin-left: 20px;
    overflow-y: scroll;
}
.box{
    width: 318px;
    height: 55px; 
    margin-top: 10px;
    background: linear-gradient(312.9deg, rgba(255, 255, 255, 0.3) 4.49%, rgba(233, 240, 247, 0.3) 95.45%), #E9F0F7;
    box-shadow: 4.89044px 4.89044px 19.5618px rgba(138, 155, 189, 0.48), -6.11305px -6.11305px 22.007px #FFFFFF;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    justify-items: center;
    align-items: center;
    color: #1A2B52;
}
.box p{
    font-size: 14px;
    color: #1A2B52;
    margin: 0;
}

/* SEGUNDA CAJA */

.deparment-budget{
    width: 333px;
    height: 570px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.budget-teams{
    width: 407px;
    height: 280px;
    background: linear-gradient(312.9deg, rgba(255, 255, 255, 0.3) 4.49%, rgba(233, 240, 247, 0.3) 95.45%), #E9F0F7;
    box-shadow: 4px 4px 16px rgba(138, 155, 189, 0.48), -5px -5px 18px #FFFFFF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.budget-teams p{
    font-size: 15px;
    font-weight: normal;
    color: #192A53;
    margin: 15px;
}
.bar-chart-one{
    width: 385px;
    height: 220px;
    background: #EEF3F8;
    box-shadow: inset -4px -4px 9px rgba(255, 255, 255, 0.88), inset 4px 4px 14px #C1D5EE;
    border-radius: 9px;
}
.chart-container{
    display: flex;
    align-items: flex-end;
    margin-top: 15px;
    margin: 10px;
}

.budget{
    position: absolute;
    color: #8B9EB0;
    width: 25px;
    height: 175px;
    display: flex;
    padding-bottom: 20px;
    flex-direction: column;
    justify-content: space-between;
}
.budget span{
    font-size: 11px;
    height: 12px;
    line-height: 12px;
    text-align: right;
    padding-right: 4px;
    font-weight: 600;
}
.deparment{
    position: absolute;
    color: #8B9EB0;
    display: flex;
    left: 458px;
}
.deparment span{
    font-size: 11px;
    padding-right: 25px;
}
.bars{
    position: relative;
    left: 42px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 30px;
}
.container-bar{
    position: relative;
    width: 27px;
    height: 162px;
    background: #E3EDF7;
    box-shadow: inset -5.36099px -5.36099px 12.0622px rgba(255, 255, 255, 0.88), inset 5.36099px 5.36099px 18.7635px #C1D5EE;
    border-radius: 15px;
    margin: 10px 0 17px;
}
.bar::after{
    content: "";
    position: absolute;
    bottom: 1px;
    background: linear-gradient(#192A53, #34ADFC);
    width: 25px;
    border-radius: 15px;
}  
.bar:nth-child(1)::after{
    height: calc((162px / 100) * 77);
}

/* TERCERA CAJA */

.budget-billing{
    width: 407px;
    height: 280px;
    margin-top: 15px;
    background: linear-gradient(312.9deg, rgba(255, 255, 255, 0.3) 4.49%, rgba(233, 240, 247, 0.3) 95.45%), #E9F0F7;
    box-shadow: 4px 4px 16px rgba(138, 155, 189, 0.48), -5px -5px 18px #FFFFFF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.budget-billing p{
    font-size: 15px;
    font-weight: normal;
    color: #192A53;
    margin: 15px;
}
.bar-chart-two{
    width: 385px;
    height: 220px;
    background: #EEF3F8;
    box-shadow: inset -4px -4px 9px rgba(255, 255, 255, 0.88), inset 4px 4px 14px #C1D5EE;
    border-radius: 9px;
}
/* FALTA LA GRAFICA DE BARRAS */

