* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
body {
  width: 100%;
  height: 100%;
  background: #ebf1f7;
  display: flex;
}

.general-container {
  position: absolute;
  width: 1090px;
  height: 722px;
  margin: 20px;
  background: linear-gradient(
      312.9deg,
      rgba(255, 255, 255, 0.3) 4.49%,
      rgba(233, 240, 247, 0.3) 95.45%
    ),
    linear-gradient(180.99deg, #f0f4f9 21.46%, rgba(240, 244, 249, 0.5) 122.77%);
  box-shadow: 4px 4px 16px rgba(138, 155, 189, 0.48), -5px -5px 18px #ffffff;
  border-radius: 10px;
}
/* NAVBAR */

.navbar {
  width: 230px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.navbar img {
  width: 220px;
  margin: 22px 0 60px;
}
.navbar a {
  width: 206px;
  height: 53px;
  background: linear-gradient(
      312.9deg,
      rgba(255, 255, 255, 0.3) 4.49%,
      rgba(233, 240, 247, 0.3) 95.45%
    ),
    #e9f0f7;
  box-shadow: 4px 4px 16px rgba(138, 155, 189, 0.48), -5px -5px 18px #ffffff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  margin: 10px;
  text-decoration: none;
  color: #192a53;
  font-size: 16px;
}
.navbar a:hover {
  background: linear-gradient(
      312.9deg,
      rgba(255, 255, 255, 0.3) 4.49%,
      rgba(233, 240, 247, 0.3) 95.45%
    ),
    #e9f0f7;
  box-shadow: inset 4px 4px 12px rgba(138, 155, 189, 0.4),
    inset -5px -5px 18px #ffffff;
  color: #192a539d;
}
.navbar i {
  padding-left: 40px;
}

/* DROPDOWN */

.dropdown {
  width: 260px;
  height: 40px;
  background: linear-gradient(
      312.9deg,
      rgba(255, 255, 255, 0.3) 4.49%,
      rgba(233, 240, 247, 0.3) 95.45%
    ),
    #e9f0f7;
  box-shadow: 4px 4px 16px rgba(138, 155, 189, 0.48), -5px -5px 18px #ffffff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  float: left;
  overflow: hidden;
}
.dropdown .dropbtn {
  font-size: 15px;
  border: none;
  outline: none;
  color: rgba(26, 43, 82, 0.5);
  padding: 14px 16px;
  background-color: #192a5300;
  margin: 0;
}
.dropdown:hover .dropbtn {
  background-color: rgba(255, 255, 255, 0);
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #eef3f9;
  min-width: 160px;
  box-shadow: 4px 4px 16px rgba(138, 155, 189, 0.48), -5px -5px 18px #ffffff;
  z-index: 1;
  border-radius: 10px;
  top: 85px;
}
.dropdown-content a {
  float: none;
  color: rgba(26, 43, 82, 0.5);
  padding: 10px 15px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  color: #192a53;
}
.dropdown:hover .dropdown-content {
  display: block;
}

/* USER */

.user {
  position: absolute;
  width: 800px;
  height: 105px;
  right: 10px;
  top: 10px;
  background: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.user-container {
  width: 250px;
  height: 59px;
  margin: 10px;
  background: linear-gradient(
      312.9deg,
      rgba(255, 255, 255, 0.3) 4.49%,
      rgba(233, 240, 247, 0.3) 95.45%
    ),
    #e9f0f7;
  box-shadow: 4px 4px 16px rgba(138, 155, 189, 0.48), -5px -5px 18px #ffffff;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.circle {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background: linear-gradient(
      312.9deg,
      rgba(255, 255, 255, 0.3) 4.49%,
      rgba(233, 240, 247, 0.3) 95.45%
    ),
    #e9f0f7;
  box-shadow: inset -5px -5px 12px rgba(255, 255, 255, 0.9),
    inset 5px 5px 12px rgba(138, 155, 189, 0.4);
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle img {
  width: 45px;
  height: 45px;
  border-radius: 25%;
}
.user-container p {
  color: #1a2b52;
  font-size: 15px;
}

/* BOXES */

.element-container {
  position: absolute;
  width: 800px;
  height: 570px;
  top: 120px;
  left: 270px;
  display: grid;
  grid-template-rows: auto auto;
  gap: 10px;
}
.pay {
  width: 800px;
  height: 310px;
  background: linear-gradient(
      312.9deg,
      rgba(255, 255, 255, 0.3) 4.49%,
      rgba(233, 240, 247, 0.3) 95.45%
    ),
    #e9f0f7;
  box-shadow: 4px 4px 16px rgba(138, 155, 189, 0.48), -5px -5px 18px #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pay p {
  font-size: 15px;
  font-weight: normal;
  color: #192a53;
  margin: 15px;
}
.pay-container {
  width: 780px;
  height: 250px;
  background: #eef3f8;
  box-shadow: inset -4px -4px 9px rgba(255, 255, 255, 0.88),
    inset 4px 4px 14px #c1d5ee;
  border-radius: 9px;
  margin-bottom: 10px;
}
/* INCLUIR GRAFICA DE BARRAS Y BOTONES */

.date-alert {
  width: 800px;
  height: 250px;
  background: linear-gradient(
      312.9deg,
      rgba(255, 255, 255, 0.3) 4.49%,
      rgba(233, 240, 247, 0.3) 95.45%
    ),
    #e9f0f7;
  box-shadow: 4px 4px 16px rgba(138, 155, 189, 0.48), -5px -5px 18px #ffffff;
  border-radius: 10px;
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  align-items: center;
  justify-items: center;
}
.chart-container {
  display: flex;
  align-items: flex-end;
  margin-top: 15px;
  margin: 10px;
}

.budget {
  position: absolute;
  color: #8b9eb0;
  width: 50px;
  height: 200px;
  display: flex;
  padding-bottom: 20px;
  flex-direction: column;
  justify-content: space-between;
}
.budget span {
  font-size: 11px;
  height: 12px;
  line-height: 12px;
  text-align: right;
  padding-right: 4px;
  font-weight: 600;
}
.deparment {
  position: absolute;
  color: #8b9eb0;
  display: flex;
  gap: 3.5px;
  left: 100px;
}
.deparment span {
  font-size: 11px;
  padding-right: 25px;
}
.bars {
  position: relative;
  left: 77px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
}
.container-bar {
  position: relative;
  width: 27px;
  height: 190px;
  background: #e3edf7;
  box-shadow: inset -5.36099px -5.36099px 12.0622px rgba(255, 255, 255, 0.88),
    inset 5.36099px 5.36099px 18.7635px #c1d5ee;
  border-radius: 15px;
  margin: 15px 0 17px;
}
.bar::after {
  content: "";
  position: absolute;
  bottom: 1px;
  background: linear-gradient(#192a53, #34adfc);
  width: 25px;
  border-radius: 15px;
}
.bar:nth-child(1)::after {
  height: calc((162px / 100) * 77);
}
.calendar-container {
  width: 290px;
  height: 230px;
  background: #eef3f8;
  border-radius: 9px;
}
/* botton */
.button {
  color: -internal-light-dark(#192a53, #34adfc);
}

/* INCLUIR CALENDARIO */

.calendar-alert {
  width: 470px;
  height: 230px;
  background: #eef3f8;
  box-shadow: inset -4px -4px 9px rgba(255, 255, 255, 0.88),
    inset 4px 4px 14px #c1d5ee;
  border-radius: 9px;
  padding-top: 35px;
  display: flex;
  overflow-x: scroll;
}

/* calndario */
* {
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
body {
  font-family: Verdana, sans-serif;
}

.month {
  padding: 5px 45px;
  width: 100%;
  background: none;
  text-align: center;
  font-size: 15px;
  color: #192a53;
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: #192a53;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.month .prev {
  float: left;
  padding-top: 1px;
}

.month .next {
  float: right;
  padding-top: 1px;
}

.weekdays {
  margin: 5px;
  padding: 10px 0;
  background-color: none;
}

.weekdays li {
  display: inline-block;
  width: 13%;
  color: #666;
  text-align: center;
}

.days {
  padding: 10px 0;
  background: none;
  margin: 5px;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13%;
  text-align: center;
  margin-bottom: 5px;
  font-size: 12px;
  color: #777;
}

.days li .active {
  padding: 5px;
  background: #34adfc;
  border-radius: 20px;
  color: white !important;
}

/* ALERTAS Y SCROLL-X */
/* alerta */
.alert-box {
  width: 100px;
  height: 165px;
  margin-left: 20px;
  background: linear-gradient(
      312.9deg,
      rgba(255, 255, 255, 0.3) 4.49%,
      rgba(233, 240, 247, 0.3) 95.45%
    ),
    #e9f0f7;
  box-shadow: 3.37815px 3.37815px 13.5126px rgba(138, 155, 189, 0.48),
    -4.22268px -4.22268px 15.2017px #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.alert-box h3 {
  font-size: 15px;
  color: #192a53;
  margin: 10px;
}
.alert-box p {
  font-size: 12px;
  color: #c4c4c4;
  margin: 0;
}
.alert-box h4 {
  font-size: 15px;
  color: #192a53;
  margin: 10px;
}
.alert-button {
  width: 80px;
  height: 30px;
  margin-top: 10px;
  background: linear-gradient(
      312.9deg,
      rgba(255, 255, 255, 0.3) 4.49%,
      rgba(233, 240, 247, 0.3) 95.45%
    ),
    #e9f0f7;
  box-shadow: 3.37815px 3.37815px 13.5126px rgba(138, 155, 189, 0.48),
    -4.22268px -4.22268px 15.2017px #ffffff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.alert-button img {
  width: 20px;
  height: 20px;
}
.alert-button:hover {
  background: #eef3f8;
  box-shadow: inset -2px -2px 9px rgba(255, 255, 255, 0.88),
    inset 2px 2px 10px #c1d5ee;
}
