* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
body {
  width: 100%;
  height: 100%;
  background: #ebf1f7;
  display: flex;
}

.general-container {
  position: absolute;
  width: 1090px;
  height: 722px;
  margin: 20px;
  background: linear-gradient(
      312.9deg,
      rgba(255, 255, 255, 0.3) 4.49%,
      rgba(233, 240, 247, 0.3) 95.45%
    ),
    linear-gradient(180.99deg, #f0f4f9 21.46%, rgba(240, 244, 249, 0.5) 122.77%);
  box-shadow: 4px 4px 16px rgba(138, 155, 189, 0.48), -5px -5px 18px #ffffff;
  border-radius: 10px;
}
/* NAVBAR */

.navbar {
  width: 230px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.navbar img {
  width: 220px;
  margin: 22px 0 60px;
}
.navbar a {
  width: 206px;
  height: 53px;
  background: linear-gradient(
      312.9deg,
      rgba(255, 255, 255, 0.3) 4.49%,
      rgba(233, 240, 247, 0.3) 95.45%
    ),
    #e9f0f7;
  box-shadow: 4px 4px 16px rgba(138, 155, 189, 0.48), -5px -5px 18px #ffffff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  margin: 10px;
  text-decoration: none;
  color: #192a53;
  font-size: 16px;
}
.navbar a:hover {
  background: linear-gradient(
      312.9deg,
      rgba(255, 255, 255, 0.3) 4.49%,
      rgba(233, 240, 247, 0.3) 95.45%
    ),
    #e9f0f7;
  box-shadow: inset 4px 4px 12px rgba(138, 155, 189, 0.4),
    inset -5px -5px 18px #ffffff;
  color: #192a539d;
}
.button .fa-solid {
  font-size: 20px;
  color: #192a53;
  padding: 0 10px 0 20px;
}

/* DROPDOWN */

.dropdown {
  width: 260px;
  height: 40px;
  background: linear-gradient(
      312.9deg,
      rgba(255, 255, 255, 0.3) 4.49%,
      rgba(233, 240, 247, 0.3) 95.45%
    ),
    #e9f0f7;
  box-shadow: 4px 4px 16px rgba(138, 155, 189, 0.48), -5px -5px 18px #ffffff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  float: left;
  overflow: hidden;
}
.dropdown .dropbtn {
  font-size: 15px;
  border: none;
  outline: none;
  color: rgba(26, 43, 82, 0.5);
  padding: 14px 16px;
  background-color: #192a5300;
  margin: 0;
}
.dropdown:hover .dropbtn {
  background-color: rgba(255, 255, 255, 0);
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #eef3f9;
  min-width: 160px;
  box-shadow: 4px 4px 16px rgba(138, 155, 189, 0.48), -5px -5px 18px #ffffff;
  z-index: 1;
  border-radius: 0 0 10px 10px;
  top: 74px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #eef3f9;
  min-width: 160px;
  box-shadow: 4px 4px 16px rgba(138, 155, 189, 0.48), -5px -5px 18px #ffffff;
  z-index: 1;
  border-radius: 0 0 10px 10px;
  top: 74px;
}
.dropdown-content a {
  float: none;
  color: rgba(26, 43, 82, 0.5);
  padding: 10px 15px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  color: #192a53;
}
.dropbtn .fa-solid {
  font-size: 15px;
  color: #34acfcab;
  padding-left: 20px;
}
.dropdown:hover .dropdown-content {
  display: block;
}

/* USER */

.user {
  position: absolute;
  width: 800px;
  height: 105px;
  right: 10px;
  top: 10px;
  background: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.user-container {
  width: 250px;
  height: 59px;
  margin: 10px;
  background: linear-gradient(
      312.9deg,
      rgba(255, 255, 255, 0.3) 4.49%,
      rgba(233, 240, 247, 0.3) 95.45%
    ),
    #e9f0f7;
  box-shadow: 4px 4px 16px rgba(138, 155, 189, 0.48), -5px -5px 18px #ffffff;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.circle {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background: linear-gradient(
      312.9deg,
      rgba(255, 255, 255, 0.3) 4.49%,
      rgba(233, 240, 247, 0.3) 95.45%
    ),
    #e9f0f7;
  box-shadow: inset -5px -5px 12px rgba(255, 255, 255, 0.9),
    inset 5px 5px 12px rgba(138, 155, 189, 0.4);
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.user-container a {
  text-decoration: none;
}
.user-container p {
  color: #1a2b52;
  font-size: 15px;
}
.user-container p:hover {
  color: #34adfc;
}

/* BOXES */

.element-container {
  position: absolute;
  width: 800px;
  height: 570px;
  top: 120px;
  left: 270px;
  /* display: grid;
  grid-template-columns: auto auto; */
  flex-direction: row;
  gap: 10px;
  display: flex;
}
.deparment {
  width: 395px;
  height: 570px;
  background: linear-gradient(
      312.9deg,
      rgba(255, 255, 255, 0.3) 4.49%,
      rgba(233, 240, 247, 0.3) 95.45%
    ),
    #e9f0f7;
  box-shadow: 4px 4px 16px rgba(138, 155, 189, 0.48), -5px -5px 18px #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.deparment p {
  font-size: 15px;
  font-weight: normal;
  color: #192a53;
  margin: 15px;
}
.depto-container {
  width: 370px;
  height: 510px;
  background: #eef3f8;
  box-shadow: inset -4px -4px 9px rgba(255, 255, 255, 0.88),
    inset 4px 4px 14px #c1d5ee;
  border-radius: 9px;
  overflow-x: scroll;
}
::-webkit-scrollbar {
  height: 7px;
}
::-webkit-scrollbar-track {
  background: #eef3f8;
  box-shadow: inset -4px -4px 9px rgba(255, 255, 255, 0.88),
    inset 4px 4px 14px #c1d5ee;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #bcccdf;
  border-radius: 10px;
}
/* INCLUIR CONTENIDO DEPARTAMENTO */

.benefit {
  width: 395px;
  height: 570px;
  background: linear-gradient(
      312.9deg,
      rgba(255, 255, 255, 0.3) 4.49%,
      rgba(233, 240, 247, 0.3) 95.45%
    ),
    #e9f0f7;
  box-shadow: 4px 4px 16px rgba(138, 155, 189, 0.48), -5px -5px 18px #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  /* display: grid;
  grid-template-rows: auto auto; */
  justify-items: center;
}
.benefit p {
  font-size: 15px;
  font-weight: normal;
  color: #192a53;
  margin: 15px;
}
.benefit-container {
  width: 370px;
  height: 234px;
  background: #eef3f8;
  box-shadow: inset -4px -4px 9px rgba(255, 255, 255, 0.88),
    inset 4px 4px 14px #c1d5ee;
  border-radius: 9px;
}

/* CAMPANA */
.fa-solid {
  font-size: 20px;
  color: #34adfc;
}
.alert-button:hover {
  background: #eef3f8;
  box-shadow: inset -2px -2px 9px rgba(255, 255, 255, 0.88),
    inset 2px 2px 10px #c1d5ee;
}
.fa-solid:hover {
  color: #192a5388;
}

/* INCLUIR CONTENIDO INGRESOS */

.benefit span {
  font-size: 15px;
  font-weight: normal;
  color: #192a53;
  margin: 5px;
}
.expenses-container {
  width: 370px;
  height: 232px;
  background: #eef3f8;
  box-shadow: inset -4px -4px 9px rgba(255, 255, 255, 0.88),
    inset 4px 4px 14px #c1d5ee;
  border-radius: 9px;
  flex-direction: row;
}

/* alerta */
.alert-box {
  width: 100px;
  height: 165px;
  margin-left: 30px;
  background: linear-gradient(
      312.9deg,
      rgba(255, 255, 255, 0.3) 4.49%,
      rgba(233, 240, 247, 0.3) 95.45%
    ),
    #e9f0f7;
  box-shadow: 3.37815px 3.37815px 13.5126px rgba(138, 155, 189, 0.48),
    -4.22268px -4.22268px 15.2017px #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.alert-box h3 {
  font-size: 15px;
  color: #192a53;
  margin: 10px;
}
.alert-box p {
  font-size: 12px;
  color: #c4c4c4;
  margin: 0;
}
.alert-box h4 {
  font-size: 15px;
  color: #192a53;
  margin: 10px;
}
.alert-button {
  width: 80px;
  height: 30px;
  margin-top: 10px;
  background: linear-gradient(
      312.9deg,
      rgba(255, 255, 255, 0.3) 4.49%,
      rgba(233, 240, 247, 0.3) 95.45%
    ),
    #e9f0f7;
  box-shadow: 3.37815px 3.37815px 13.5126px rgba(138, 155, 189, 0.48),
    -4.22268px -4.22268px 15.2017px #ffffff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.alert-button img {
  width: 20px;
  height: 20px;
}
.alert-button:hover {
  background: #eef3f8;
  box-shadow: inset -2px -2px 9px rgba(255, 255, 255, 0.88),
    inset 2px 2px 10px #c1d5ee;
}

/* INCLUIR CONTENIDO EGRESOS */

/* grafica */
/* * {
  margin: 0px;
   padding: 0px; 
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
} */
/* body {
  background: #e3edf7;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
} */
.skill {
  width: 160px;
  height: 160px;
  position: relative;
  display: flex;
  padding: 35px;
}
.outer {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  padding: 20px;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}
.inner {
  height: 120px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
    -0.5px -0.5px 0px rgba(255, 255, 255, 0.1),
    0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.05);
}
#number {
  font-weight: 600;
  color: 555;
}
circle {
  fill: none;
  stroke: url(#GradientColor);
  /* stroke: linear-gradient(#192a53, #34adfc) !important; */
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  animation: anim 2s linear forwards;
}

svg {
  position: absolute;
  /* top: 0;
  left: 0; */
}
@keyframes anim {
  100% {
    stroke-dashoffset: 165;
  }
}

/* BARRAS */
.mes {
  color: #192a53;
  font-size: 18px;
  left: 150px;
  position: absolute;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  text-align: center;
  margin-top: 10px;
}
.datos {
  font-size: 20px;
  left: 100px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  text-align: center;
  margin-top: 50px;
  width: 40px;
}
.datos p {
  color: #8b9eb0;
}
.mes h3 {
  font-size: 15px;
  font-weight: normal;
  color: #192a53;
  margin: 15px;
}
.mes p {
  font-size: 12px;
  font-weight: normal;
  color: #8b9eb0;
  margin: 15px;
}
.chart-container {
  position: relative;
  display: flex;
  align-items: flex-start;
  margin-top: 50px;
  margin: 10px;
}

.budget {
  position: absolute;
  color: #8b9eb0;
  width: 50px;
  height: 300px;
  display: flex;
  padding-bottom: 20px;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 160px;
}
.budget span {
  font-size: 11px;
  height: 12px;
  line-height: 12px;
  text-align: right;
  padding-right: 4px;
  font-weight: 600;
}
.meses {
  position: relative;
  color: #8b9eb0;
  display: flex;
  gap: 3.5px;
  left: 81px;
  top: 120px;
}
.meses span {
  font-size: 11px;
  padding-right: 25px;
}

.bars {
  position: relative;
  left: 77px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
  top: 120px;
}
.container-bar {
  position: relative;
  width: 27px;
  height: 300px;
  background: #e3edf7;
  box-shadow: inset -5.36099px -5.36099px 12.0622px rgba(255, 255, 255, 0.88),
    inset 5.36099px 5.36099px 18.7635px #c1d5ee;
  border-radius: 15px;
  margin: 15px 0 17px;
}
.bar::after {
  content: "";
  position: absolute;
  bottom: 1px;
  background: linear-gradient(#192a53, #34adfc);
  width: 25px;
  border-radius: 15px;
}
.bar:nth-child(1)::after {
  height: calc((162px / 100) * 77);
}
.calendar-container {
  width: 290px;
  height: 230px;
  background: #eef3f8;
  border-radius: 9px;
}
