*{
    margin: 0;
    box-sizing: border-box;
    font-family:'Open Sans', sans-serif;
}
body{
    width: 100%;
    height: 100%;
    background: #EBF1F7;
    display: flex;
}

.general-container{
    position: absolute;
    width: 1090px;
    height: 722px;
    margin: 20px;
    background: linear-gradient(312.9deg, 
    rgba(255, 255, 255, 0.3) 4.49%, 
    rgba(233, 240, 247, 0.3) 95.45%), 
    linear-gradient(180.99deg, 
    #F0F4F9 21.46%, rgba(240, 244, 249, 0.5) 122.77%);
    box-shadow: 4px 4px 16px rgba(138, 155, 189, 0.48), 
    -5px -5px 18px #FFFFFF;
    border-radius: 10px;
}
/* NAVBAR */

.navbar{
    width: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.navbar img{
    width: 220px;
    margin: 22px 0 60px;
}
.navbar a{
    width: 206px;
    height: 53px;
    background: linear-gradient(312.9deg, 
    rgba(255, 255, 255, 0.3) 4.49%,
    rgba(233, 240, 247, 0.3) 95.45%), #E9F0F7;
    box-shadow: 4px 4px 16px rgba(138, 155, 189, 0.48), 
    -5px -5px 18px #FFFFFF;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin: 10px;
    text-decoration: none;
    color: #192A53;
    font-size: 16px;
}
.navbar a:hover{
    background: linear-gradient(312.9deg, 
    rgba(255, 255, 255, 0.3) 4.49%, 
    rgba(233, 240, 247, 0.3) 95.45%), #E9F0F7;
    box-shadow: inset 4px 4px 12px rgba(138, 155, 189, 0.4), 
    inset -5px -5px 18px #FFFFFF;
    color: #192a539d;
}
.button .fa-solid{
    font-size: 20px;
    color: #192A53;
    padding: 0 10px 0 20px;
}

/* DROPDOWN */

.dropdown{
    width: 260px;
    height: 40px;
    background: linear-gradient(312.9deg, rgba(255, 255, 255, 0.3) 4.49%, rgba(233, 240, 247, 0.3) 95.45%), #E9F0F7;
    box-shadow: 4px 4px 16px rgba(138, 155, 189, 0.48), -5px -5px 18px #FFFFFF;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    float: left;
    overflow: hidden;
}
.dropdown .dropbtn{
    font-size: 15px;
    border: none;
    outline: none;
    color: rgba(26, 43, 82, 0.5);
    padding: 14px 16px;
    background-color: #192a5300;
    margin: 0;
}
.dropdown:hover .dropbtn{
    background-color: rgba(255, 255, 255, 0);
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #EEF3F9;
    min-width: 160px;
    box-shadow: 4px 4px 16px rgba(138, 155, 189, 0.48), 
    -5px -5px 18px #FFFFFF;
    z-index: 1;
    border-radius: 0 0 10px 10px;
    top: 74px;
}
.dropdown-content a{
    float: none;
    color: rgba(26, 43, 82, 0.5);
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover{
    color: #192A53;
}
.dropbtn .fa-solid{
    font-size: 15px;
    color: #34acfcab;
    padding-left: 20px;
}
.dropdown:hover .dropdown-content{
    display: block;
}

/* USER */

.user{
    position: absolute;
    width: 800px;
    height: 105px;
    right: 10px;
    top: 10px;
    background: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.user-container{
    width: 250px;
    height: 59px;
    margin: 10px;
    background: linear-gradient(312.9deg, rgba(255, 255, 255, 0.3) 4.49%, rgba(233, 240, 247, 0.3) 95.45%), #E9F0F7;
    box-shadow: 4px 4px 16px rgba(138, 155, 189, 0.48), -5px -5px 18px #FFFFFF;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.circle{
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background: linear-gradient(312.9deg, rgba(255, 255, 255, 0.3) 4.49%, rgba(233, 240, 247, 0.3) 95.45%), #E9F0F7;
    box-shadow: inset -5px -5px 12px rgba(255, 255, 255, 0.9), inset 5px 5px 12px rgba(138, 155, 189, 0.4);
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.user-container a{
    text-decoration: none;
}
.user-container p{
    color: #1A2B52;
    font-size: 15px;
}
.user-container p:hover{
    color: #34ADFC
}

/* BOXES */

.element-container{
    position: absolute;
    width: 800px;
    height: 570px;
    top: 120px;
    left: 270px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    justify-items: center;
}
.preferences-container{
    width: 550px;
    height: 570px;
    display: grid;
    grid-template-rows: auto auto;
    gap: 10px;
}
.resum{
    width: 550px;
    height: 280px;
    background: linear-gradient(312.9deg, rgba(255, 255, 255, 0.3) 4.49%, rgba(233, 240, 247, 0.3) 95.45%), #E9F0F7;
    box-shadow: 4px 4px 16px rgba(138, 155, 189, 0.48), -5px -5px 18px #FFFFFF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.resum p{
    font-size: 15px;
    font-weight: normal;
    color: #192A53;
    margin: 15px;
}
.resum-container{
    width: 527px;
    height: 220px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

/* GRAFICA LINEAS */

.line-chart{
    width: 280px;
    height: 220px;
    background: #EEF3F8;
    box-shadow: inset -4px -4px 9px rgba(255, 255, 255, 0.88), inset 4px 4px 14px #C1D5EE;
    border-radius: 9px;
    margin-bottom: 10px;
}
#line-example-6 {
    height: 220px;
    max-width: 300px;
    margin: 0 auto;
}
.charts-css{
    --color-1: #192A53!important;
    --color-2: #c4c4c400!important;
    --color-3: #34ADFC!important;
     --primary-axis-color: none!important;
}
.charts-css.line:not(.reverse-datasets) tbody tr{
    font-size: 12px!important;
    font-weight: normal!important;
}

/* LISTA SCROLL */ 

.resum-list{
    width: 237px;
    height: 220px;
    background: #EEF3F8;
    box-shadow: inset -4px -4px 9px rgba(255, 255, 255, 0.88), inset 4px 4px 14px #C1D5EE;
    border-radius: 9px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}
.item-list{
    width: 220px;
    min-height: 50px;
    margin-top: 10px;
    background: linear-gradient(312.9deg, rgba(255, 255, 255, 0.3) 4.49%, rgba(233, 240, 247, 0.3) 95.45%), #E9F0F7;
    box-shadow: 3.46565px 3.46565px 13.8626px rgba(138, 155, 189, 0.48), -4.33206px -4.33206px 15.5954px #FFFFFF;
    border-radius: 10px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}
.item-list h3{
    font-size: 14px;
    color: #192A53;
    font-weight: normal;
    margin: 15px;
}
.item-list p{
    font-size: 13px;
    color: #192A53;
    font-weight: normal;
    margin: 15px;
}
::-webkit-scrollbar{
    width: 7px;
}
::-webkit-scrollbar-track{
    background: #EEF3F8;
    box-shadow: inset -4px -4px 9px rgba(255, 255, 255, 0.88), inset 4px 4px 14px #C1D5EE;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb{
    background: #BCCCDF;
    border-radius: 10px;
}

/* REPORTE PERSONALIZADO */

.preferences{
    width: 550px;
    height: 280px;
    background: linear-gradient(312.9deg, rgba(255, 255, 255, 0.3) 4.49%, rgba(233, 240, 247, 0.3) 95.45%), #E9F0F7;
    box-shadow: 4px 4px 16px rgba(138, 155, 189, 0.48), -5px -5px 18px #FFFFFF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.preferences p{
    font-size: 15px;
    font-weight: normal;
    color: #192A53;
    margin: 15px;
}
.console-container{
    width: 527px;
    height: 220px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;

}
.console{
    width: 387px;
    height: 220px;
    background: #EEF3F8;
    box-shadow: inset -4px -4px 9px rgba(255, 255, 255, 0.88), inset 4px 4px 14px #C1D5EE;
    border-radius: 9px;
    display: grid;
    grid-template-rows: auto auto;
    gap: 5px;
    justify-items: center;
    align-items: center;
}
.console p{
    font-size: 15px;
    font-weight: normal;
    color: #192A53;
    margin: 15px;
}
.calendar{
    width: 340px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.calendar input{
    background: #EEF3F8;
    box-shadow: inset -4px -4px 9px rgba(255, 255, 255, 0.88), inset 4px 4px 14px #C1D5EE;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 13px;
    color: #192A53;
}
.check-list{
    width: 340px;
    height: 160px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
}
.report-type{
    width: 190px;
    display: flex;
    flex-direction: column;
}
.graph-type{
    width: 190px;
    display: flex;
    flex-direction: column;
}
[type="checkbox"]{display: none;}

label{
    padding-left: 20px;
    position: relative;
}

label::before{
    content: '';
    border: solid 1px #ffffffaf;
    background: #E3EDF7;
    box-shadow: inset -4px -4px 9px rgba(255, 255, 255, 0.6), inset 4px 4px 14px #C5D7EE;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    position: absolute;
    left: 0;
    top: 3px;
}

[type="checkbox"]:checked + label::before{
    background: #34ADFC;
    box-shadow: none;
}
.buttons{
    width: 130px;
    height: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.btn-one{
    width: 120px;
    height: 30px;
    background: linear-gradient(312.9deg, rgba(255, 255, 255, 0.3) 4.49%, rgba(233, 240, 247, 0.3) 95.45%), #E9F0F7;
    box-shadow: 3.46565px 3.46565px 13.8626px rgba(138, 155, 189, 0.48), -4.33206px -4.33206px 15.5954px #FFFFFF;
    border: none;
    border-radius: 5px;
    font-size: 13px;
    color: #192A53;
    margin-bottom: 10px;
}
.btn-one:hover{
    color: #FFFFFF;
    background: #192A53;
}
.btn-two{
    width: 120px;
    height: 30px;
    background: linear-gradient(312.9deg, rgba(255, 255, 255, 0.3) 4.49%, rgba(233, 240, 247, 0.3) 95.45%), #E9F0F7;
    box-shadow: 3.46565px 3.46565px 13.8626px rgba(138, 155, 189, 0.48), -4.33206px -4.33206px 15.5954px #FFFFFF;
    border: none;
    border-radius: 5px;
    font-size: 13px;
    color: #34ADFC;
}
.btn-two:hover{
    color: #FFFFFF;
    background: #34ADFC;
}

/* HISTORIAL */

.list{
    width: 240px;
    height: 570px;
    background: linear-gradient(312.9deg, rgba(255, 255, 255, 0.3) 4.49%, rgba(233, 240, 247, 0.3) 95.45%), #E9F0F7;
    box-shadow: 4px 4px 16px rgba(138, 155, 189, 0.48), -5px -5px 18px #FFFFFF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.list p{
    font-size: 15px;
    font-weight: normal;
    color: #192A53;
    margin: 15px;
}
.list-container{
    width: 220px;
    height: 510px;
    background: #EEF3F8;
    box-shadow: inset -4px -4px 9px rgba(255, 255, 255, 0.88), inset 4px 4px 14px #C1D5EE;
    border-radius: 9px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}
.record-item{
    width: 200px;
    min-height: 50px;
    margin-top: 10px;
    padding: 10px;
    background: linear-gradient(312.9deg, rgba(255, 255, 255, 0.3) 4.49%, rgba(233, 240, 247, 0.3) 95.45%), #E9F0F7;
    box-shadow: 3.46565px 3.46565px 13.8626px rgba(138, 155, 189, 0.48), -4.33206px -4.33206px 15.5954px #FFFFFF;
    border-radius: 9px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}
.record-item h3{
    font-size: 14px;
    font-weight: normal;
    color: #192A53;
}
.record-item p{
    font-size: 13px;
    color: #192a5398;
    margin: 0;
}

